[submodule "Linux/.emacs.d/site-lisp/cedet"]
	path = Linux/.emacs.d/site-lisp/cedet
	url = http://git.code.sf.net/p/cedet/git
[submodule "Linux/.emacs.d/site-lisp/ecb"]
	path = Linux/.emacs.d/site-lisp/ecb
	url = git://github.com/ecb-home/ecb.git
[submodule "Linux/.emacs.d/site-lisp/yasnippet"]
	path = Linux/.emacs.d/site-lisp/yasnippet
	url = git://github.com/joaotavora/yasnippet.git
[submodule "Linux/.emacs.d/site-lisp/popup-el"]
	path = Linux/.emacs.d/site-lisp/popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule "Linux/.emacs.d/site-lisp/fuzzy-el"]
	path = Linux/.emacs.d/site-lisp/fuzzy-el
	url = https://github.com/auto-complete/fuzzy-el.git
