[submodule "Linux/.emacs.d/site-lisp/cedet"]
	path = Linux/.emacs.d/site-lisp/cedet
	url = http://git.code.sf.net/p/cedet/git
[submodule "Linux/.emacs.d/site-lisp/ecb"]
	path = Linux/.emacs.d/site-lisp/ecb
	url = git://github.com/ecb-home/ecb.git
[submodule "Linux/.emacs.d/site-lisp/yasnippet"]
	path = Linux/.emacs.d/site-lisp/yasnippet
	url = git://github.com/joaotavora/yasnippet.git
[submodule "Linux/.emacs.d/site-lisp/popup-el"]
	path = Linux/.emacs.d/site-lisp/popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule "Linux/.emacs.d/site-lisp/fuzzy-el"]
	path = Linux/.emacs.d/site-lisp/fuzzy-el
	url = https://github.com/auto-complete/fuzzy-el.git
[submodule "Linux/.emacs.d/site-lisp/auto-complete"]
	path = Linux/.emacs.d/site-lisp/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "Linux/.emacs.d/site-lisp/ess"]
	path = Linux/.emacs.d/site-lisp/ess
	url = https://github.com/emacs-ess/ESS.git
[submodule "Linux/.emacs.d/site-lisp/smex"]
	path = Linux/.emacs.d/site-lisp/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "Linux/.emacs.d/site-lisp/multiple-cursors"]
	path = Linux/.emacs.d/site-lisp/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "Linux/.emacs.d/site-lisp/use-package"]
	path = Linux/.emacs.d/site-lisp/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "Linux/.emacs.d/site-lisp/phi-search"]
	path = Linux/.emacs.d/site-lisp/phi-search
	url = https://github.com/zk-phi/phi-search.git
[submodule "Linux/.emacs.d/site-lisp/ace-jump-mode"]
	path = Linux/.emacs.d/site-lisp/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "Linux/.emacs.d/site-lisp/rich-minority"]
	path = Linux/.emacs.d/site-lisp/rich-minority
	url = https://github.com/Malabarba/rich-minority.git
[submodule "Linux/.emacs.d/site-lisp/smart-mode-line"]
	path = Linux/.emacs.d/site-lisp/smart-mode-line
	url = https://github.com/Malabarba/smart-mode-line.git
[submodule "Linux/.emacs.d/site-lisp/powerline"]
	path = Linux/.emacs.d/site-lisp/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "Linux/.emacs.d/site-lisp/which-key"]
	path = Linux/.emacs.d/site-lisp/which-key
	url = https://github.com/justbur/emacs-which-key.git
